<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
        default-autowire="byName">

<context:component-scan base-package="com.ywpay.cache" />

<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">  
    <property name="servers" value="127.0.0.1:12000"/>  
    <property name="protocol" value="BINARY"/>  
    <property name="transcoder">  
      <bean class="net.spy.memcached.transcoders.SerializingTranscoder">  
        <property name="compressionThreshold" value="1024"/>  
      </bean>  
    </property>  
    <property name="opTimeout" value="10000"/>  
    <property name="timeoutExceptionThreshold" value="1998"/>  
    <property name="hashAlg">
            <value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
    </property>
    <property name="locatorType" value="CONSISTENT"/>   
    <property name="failureMode" value="Redistribute"/>  
    <property name="useNagleAlgorithm" value="false"/>  
  </bean>
  
   
  	<bean id="cacheInterceptor" class="com.ywpay.cache.CacheInterceptor">
  		<property name="timeoutInSeconds" value="5"/>
  		<property name="retryInMinutes" value="1"/>
  		<property name="memcachedClient" ref="memcachedClient"/>
  	</bean>
   
   
  	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>*DaoImpl</value>
		</property>
		<property name="proxyTargetClass" value="true"/>
		<property name="interceptorNames">
			<list>
				<value>cacheInterceptor</value>
			</list>
		</property>
	</bean>
	
</beans>